.noticeContainer {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    
}

/* 버튼 스타일 */
button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    width: 100px; /* 수정된 버튼 너비 */
    height: 250px;
    border: 1px solid #000;
    margin: 60px 10px 10% 10px; /* 각 버튼 사이의 간격 설정 */
    border-radius: 30px;
    cursor: pointer;
    background: none;
    flex: 1; /* 동일한 너비로 배치 */
}

button:hover{
    background-color:aliceblue
}

button img {
    width: 15%;
    margin-bottom: 20px; /* 이미지와 텍스트 사이의 간격 설정 */
}
