html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin-top: 5%;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.mainContainer {
    border: 1px solid #000;
    padding: 20px;
}

.noticeHeader{
    font-size: 40px;
    padding-left: 40px;
}

.profile{
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-left: 40px;
    border-bottom: 1px solid #999595;
}

.profile-name{
    font-size: 25px;
    margin-left: 15px;
}


.profile img{
    border-radius: 50%;
    width: 40px;
}

.noticeContent{
    font-size: 20px;
}

.howToReserve{
    padding-bottom: 20px;
    border-bottom: 1px solid #999595;
}

.howToReserve a{
    text-decoration: none;
    counter-reset: #1eb34b;
}

.noticeBreak{
    
    color: rgb(219, 39, 39);
}