.calendar-container {
  max-width:80%; /* Set a maximum width for the calendar */
  
  margin: 0 auto; /* Center the calendar */
}

.custom-calendar {
  width: 100% !important; /* Ensure the calendar takes full width of the container */
}

.custom-calendar .react-calendar__tile {
  height: 100px; /* Adjust the height of the tiles if needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
}
