.admin-post-page {
    width: 100%; 
    height: auto;
}

label{
    font-size: 30px;
}

input{
    width: 200px;
    height: 30px;
}

.button-group {
    display: flex;
    margin-top: 10px; 
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.button-group button {
    margin-right: 10px; 
   
}

button{
   
}
